<div class="card w-100 mx-auto landingCard">
  <div class="card-body w-100 mx-auto">
    <h5 class="card-title text-center landingCardTitle">Register</h5>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <!-- <label for="registerUsername">Account Name</label> -->
            <input type="text" class="form-control" formControlName="registerUsername" id="registerUsername" name="registerUsername" placeholder="Account Name" required>
            <div *ngIf="registerUsername.invalid && registerUsername.touched">
              <small *ngIf="registerUsername.hasError('required'); else registerUsernameTag" class="form-text text-danger">
                This field is required.
              </small>
              <ng-template #registerUsernameTag>
                <small *ngIf="registerUsername.hasError('invalidAccountName')" class="form-text text-danger">
                  Only letters and number allowed and must start with a letter
                </small>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <!--<label for="displayName">Display Name</label>-->
            <input type="text" class="form-control" formControlName="displayName" id="displayName" name="displayName" placeholder="Display Name">
              <div *ngIf="displayName.invalid && displayName.touched">
                <small *ngIf="displayName.hasError('required')" class="form-text text-danger">
                  This field is required.
                </small>
              </div>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <!--<label for="email">Email</label>-->
            <input type="email" class="form-control" formControlName="email" id="email" name="email" placeholder="Your Email" required>
            <div *ngIf="email.invalid && email.touched">
              <small *ngIf="email.hasError('required'); else emailTag" class="form-text text-danger">
                This field is required.
              </small>
              <ng-template #emailTag>
                <small *ngIf="email.hasError('pattern')" class="form-text text-danger">
                  Wrong Format.
                </small>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <!--<label for="phone">Phone Number</label>-->
            <input type="text" class="form-control" formControlName="phone" id="phone" name="phone" placeholder="Phone (10 digits)" required>
            <div *ngIf="phone.invalid && phone.touched">
              <small *ngIf="phone.hasError('required'); else phoneTag" class="form-text text-danger">
                This field is required.
              </small>
              <ng-template #phoneTag>
                <small *ngIf="phone.hasError('pattern')" class="form-text text-danger">
                  Wrong Format.
                </small>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <!--<label for="birthday">Date of Birth</label>-->
            <input type="date" class="form-control" formControlName="birthday" id="birthday" name="birthday" placeholder="MM/DD/YYYY" required>
            <div *ngIf="birthday.invalid && birthday.touched">
              <small *ngIf="birthday.hasError('required'); else birthdayTag" class="form-text text-danger">
                This field is required.
              </small>
              <ng-template #birthdayTag>
                <small *ngIf="birthday.hasError('invalidBirthday')" class="form-text text-danger">
                  {{birthday.errors.invalidBirthday.toString()}}
                </small>
              </ng-template>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <!--<label for="zipcode">Zipcode</label>-->
            <input type="text" class="form-control" formControlName="zipcode" id="zipcode" name="zipcode" placeholder="Zipcode" required>
            <div *ngIf="zipcode.invalid && zipcode.touched">
              <small *ngIf="zipcode.hasError('required'); else zipcodeTag" class="form-text text-danger">
                This field is required.
              </small>
              <ng-template #zipcodeTag>
                <small *ngIf="zipcode.hasError('pattern')" class="form-text text-danger">
                  Wrong Format. 
                </small>
              </ng-template>
            </div>
          </div>
        </div>
      </div>

      <div class="form-row" formGroupName="passwordGroup">
        <div class="col">
          <div class="form-group">
            <!--<label for="registerPassword">registerPassword</label>-->
            <input type="password" class="form-control" formControlName="registerPassword" id="registerPassword" name="registerPassword" placeholder="Password" required>
            <div *ngIf="registerPassword.invalid && registerPassword.touched">
              <small *ngIf="registerPassword.hasError('required')" class="form-text text-danger">
                This field is required.
              </small>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <!--<label for="confirm">Confirm Password</label>-->
            <input type="password" class="form-control" formControlName="confirm" id="confirm" name="confirm" placeholder="Confirm Password" required>
            <div *ngIf="confirm.invalid && confirm.touched">
              <small *ngIf="confirm.hasError('required')" class="form-text text-danger">
                This field is required.
              </small>
            </div>
            <small *ngIf="passwordGroup.hasError('registerPassword')" class="form-text text-danger">
              Two passwords do not match!
            </small>
          </div>
        </div>
      </div>

      <div class="text-center">
        <button type="submit" class="btn btn-primary mr-3 w-25 registerBtn">Submit</button>
        <button type="reset" class="btn btn-outline-primary w-25 ml-3 registerBtn">Clear </button>
      </div>

      <div class="text-center">
        <small *ngIf="showMessage" id="registerMessage" [ngClass]="messageClass">
          {{messageText}}
        </small>
      </div>
      

    </form>
  </div>
</div>

<form>

</form>
