<div class="container landingContainer h-100">
  <div class="jumbotron landingTitle" id="landingTitle">
    <div class="container">
      <h1>
        Welcome to Ricebook!
      </h1>
    </div>
  </div>
  <div class="row landingForm">
    <div class="col-md-6 ">
      <app-registeration></app-registeration>
    </div>
    <!--Is there a better way for this gap? -->
    <!-- <div class="col-md-1"></div> -->
    <div class="col-md-6 d-flex align-items-center justify-content-md-end justify-content-center mt-md-0 mt-4">
      <app-login></app-login>
    </div>
  </div>
</div>



