.avatarUser {
  width: 120px;
  height: 120px;
  border: 1px solid rgb(150, 150, 150);
  border-radius: 10px;
  object-fit: cover;
}

.userName {
  font-size: 1.2em;
  font-weight: bold;
}

.headline {
  font-size: 0.8em;
  font-weight: normal;
}

#userContainer {
    margin: 0 auto;
    border: 1px solid rgb(150, 150, 150);
    background-color: white;
    border-radius: 10px;
    padding: 10px 0;
}

.userInfo {
    margin: 10px 5px;
}

.btn {
    width: 80px;
}

