.myNavbar {
  background-color: #4267b2;
  /* margin-bottom: 10px; */
}

.nav-link:hover, .navbar-brand:hover {
  background-color: #365899;
}

.navbar-brand {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0;
}

/* .nav-link, .nav-item, .navbar-collapse {
  height: 100%;
} */
